<div class="container mt-5 mb-3n c1">
    <div class="col-md-4 c1">
        <div class="card crd bg-dark tcolor" style="width: 18rem;">
            <div class="card-body">
                <div class="text-center">
                    <h5 class="card-title text-white"><span><img src="assets/images/Offer.png" width="40" height="40" class="d-inline-block align-top" alt=""></span> Offers</h5>
                </div>
                <div class="text-center">
                    <h6 class="card-text tcolor"><span><img src="assets/images/voot.jfif" width="25" height="25" class="d-inline-block align-top" alt=""> </span> Voot : <span class="text-n">{{offer.voot}}</span></h6>
                </div>
                <br />
                <div class="text-center">
                    <h6 class="card-text"><span><img src="assets/images/ultra.jfif" width="25" height="25" class="d-inline-block align-top" alt=""> </span> Ultra : <span class="text-n">{{offer.ultra}}</span></h6>
                </div>
                <br />
                <div class="text-center">
                    <h6 class="card-text "><span><img src="assets/images/hungama.jfif" width="25" height="25" class="d-inline-block align-top" alt=""> </span> Hungamaplay : <span class="text-n">{{offer.hungamaplay}}</span></h6>
                </div>
                <br />
                <div class="text-center">
                    <h6 class="card-text"><span><img src="assets/images/lionplay.png" width="25" height="25" class="d-inline-block align-top" alt=""> </span>  Lionplay : <span class="text-n">{{offer.lionplay}}</span></h6>
                </div>
                <br />
                <div class="text-center">
                    <h6 class="card-text"><span><img src="assets/images/netflix.jfif" width="25" height="25" class="d-inline-block align-top" alt=""> </span>Netflix : <span class="text-n">{{offer.netflix}}</span></h6>
                </div>
                <br />
                <div class="text-center">
                    <h6 class="card-text"><span><img src="assets/images/hotstar.jfif" width="25" height="25" class="d-inline-block align-top" alt=""> </span>Hotstar : <span class="text-n">{{offer.hotstar}} </span></h6>
                </div>
                <br />
                <div class="text-center">
                    <h6 class="card-text"><span><img src="assets/images/hotstar.jfif" width="25" height="25" class="d-inline-block align-top" alt=""> </span>Others : <span class="text-n">{{offer.others}}</span></h6>
                </div>
                <br />
                <div class="text-center">
                    <h6 class="card-text"><span><img src="assets/images/wifi.png" width="25" height="25" class="d-inline-block align-top" alt=""> </span> Unlimted</h6>
                </div>
                <br />
                <div class="text-center">
                    <h6 class="card-text"><span><img src="assets/images/free.png" width="25" height="25" class="d-inline-block align-top" alt=""> </span> 24*7 std/isd Free</h6>
                </div>
                <br />
                <br />
                <div class="text-center card-footer border-white flash">
                    <a role="button" routerLink="/home/plan" class="btn btn-outline-light">Back</a>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>