<br />
<div class="flash">
    <h2>Status List</h2>
</div>
<table class="table table-responsive bg-dark crd">
    <thead style="color: #03e9f4;">
        <tr>
            <th>
                BillingNumber
            </th>
            <th>
                Status
            </th>
            <th>
                PlanName
            </th>
            <th>
                PlanPrice
            </th>
            <th>
                CustomerName
            </th>
            <th>
                CustomerAddress
            </th>
            <th>
                CustomerPhonenumber
            </th>
            <th>
                EmployeeName
            </th>
            <th>
                EmployeePhonenumber
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody style="color: #8a6ea7;">
        <tr *ngFor="let stat of status">
            <td>
                {{stat.billingNumber}}
            </td>
            <td>
                {{stat.status1}}
            </td>
            <td>
                {{stat.planName}}
            </td>
            <td>
                {{stat.planPrice}}
            </td>
            <td>
                {{stat.customerName}}
            </td>
            <td>
                {{stat.customerAddress}}
            </td>
            <td>
                {{stat.customerPhonenumber}}
            </td>
            <td>
                {{stat.employeeName}}
            </td>
            <td>
                {{stat.employeePhonenumber}}
            </td>
            <td class="flash">
                <a role="button" routerLink="/employee/status/{{stat.statusId}}">
                    Accept Work
                </a>
            </td>
        </tr>
    </tbody>
</table>
