
<div class="container c1">
    <div class="row">
        <div class="col c1">
            <div class="card text-n login-box crd bg-dark c1" style="width: 30rem;">
                <div class="card-body text-center">
                    <div class="card-header text-white text-center">Access Control</div>
                    <div class="text-center text-n">
                        Name : <span class="tcolor">{{stat.customerName}}</span>
                    </div>
                    <br />
                    <div class="text-center text-n">
                        Plan : <span class="tcolor">{{stat.planName}}</span>
                    </div>
                    <br />
                    <div class="text-center text-n">
                        Plan Price : <span class="tcolor">{{stat.planPrice}}</span>
                    </div>
                    <br />
                    <div class="text-center text-n">
                        Status : <span class="tcolor">{{stat.status1}}</span>
                    </div>
                    <br />
                    <div class="text-center text-n">
                        Worker Name : <span class="tcolor">{{stat.employeeName}}</span>
                    </div>
                    <br />
                    <div class="text-center text-n">
                        Worker Number : <span class="tcolor">{{stat.employeePhonenumber}}</span>
                    </div>
                    <br />


                    <form class="c1 flash">
                        <a routerLink="/home/status">Back</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
