<br />
<br />
<br />
<div class="card border-light crd bg-dark mb-3 c1" style="max-width: 30rem;">
    <div class="card-body">
        <div class="login-box">
            <h2>Profile</h2>
            <dl class="row" style="color: #03e9f4;">
                <dt class="col-sm-10">
                    Name
                </dt>
                <dd class="col-sm-10 text-n">
                    {{emp.name}}
                </dd>
                <dt class="col-sm-10">
                    Age
                </dt>
                <dd class="col-sm-10 text-n">
                    {{emp.age}}
                </dd>
                <dt class="col-sm-10">
                    Address
                </dt>
                <dd class="col-sm-10 text-n">
                    {{emp.address}}
                </dd>
                <dt class="col-sm-10">
                    WorkLocation
                </dt>
                <dd class="col-sm-10 text-n">
                    {{emp.workLocation}}
                </dd>
                <dt class="col-sm-10">
                    PhoneNumber
                </dt>
                <dd class="col-sm-10 text-n">
                    {{emp.phoneNumber}}
                </dd>
                <dt class="col-sm-10">
                   EmployeeMail
                </dt>
                <dd class="col-sm-10 text-n">
                    {{emp.employeeMail}}
                </dd>
            </dl>
        </div>
        <div class="flash">
            <a role="button" routerLink="/employee/profileEdit">Edit Profile</a>
        </div>
    </div>
</div>