<br />
<br />
<br />
<div class="card crd bg-dark mb-3 c1" style="max-width: 30rem;" *ngIf="IsAuthendicated()">
    <div class="card-body">
        <div class="login-box">
            <h2>Admin Control</h2>
            <div class="text-center flash">
                <h5 class="card-title"><a class="btn btn-outline-light" routerLink="/admin/addplan">Add New Plans</a></h5>
            </div>
            <br />
            <div class="text-center flash">
                <h6 class="card-text "><a class="btn btn-outline-light" routerLink="/admin/addoffer">Add New Offers</a></h6>
            </div>
            <br />
            <div class="text-center flash">
                <h6 class="card-text text-danger"><a class="btn btn-outline-light" routerLink="/admin/plan">List Of Plans</a></h6>
            </div>
            <br />
            <div class="text-center flash">
                <h6 class="card-text text-danger"><a class="btn btn-outline-light" routerLink="/admin/offer">List of Offers</a></h6>
            </div>
            <br />
            <div class="text-center flash">
                <h6 class="card-text text-danger"><a class="btn btn-outline-light" routerLink="/admin/addemployee">Add New Employee</a></h6>
            </div>
            <br />
            <div class="text-center flash">
                <h6 class="card-text text-danger"><a class="btn btn-outline-light" routerLink="/admin/employeelist">List of Employees</a></h6>
            </div>
            <br />
            <div class="text-center flash">
                <h6 class="card-text text-danger"><a class="btn btn-outline-light" routerLink="/admin/customerlist">List of Customers</a></h6>
            </div>
            <br />
        </div>
    </div>
</div>